.info {
    margin: 0 0;
  }
  .info__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom: 1px solid #c7c2c2;
    text-transform: capitalize;
    padding: 0 0 8px 0;
  }
  .info__table {
    margin: 0 0;
  }
  .info__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__table th {
    border: 0 !important;
    padding: 0.3rem 0 !important;
    margin: 0 1rem 0 0rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6392156863) !important;
  }
  .info__table td {
    border: 0 !important;
  }
  .info__btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: 0 !important;
    text-transform: uppercase !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem !important;
    background: none !important;
    color: #153556 !important;
    border-radius: 2px !important;
    padding: 0 !important;
    letter-spacing: 1px;
    margin: 0rem 0 2rem 0;
    border-bottom: 2px solid #153556 !important;
    -webkit-transition: all 0.2s ease-in !important;
    transition: all 0.2s ease-in !important;
  }