
.mainServiceStore{
    padding: 10px;
    padding-bottom: 30px;
    background-color: white;
}
.titleItem{
display: flex;
justify-content: space-between;
padding: 0!important;
margin: 10px;
}

.post_image_container{
    height: 300px;
    width: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_image{
    width: 90%;
    height:90%;
    border-radius: 5px;
}

.react-multiple-carousel__arrow{
    z-index:100;
}