
div.admin_container{


  background-color: white;
  padding: 30px;
  box-shadow: 0 50px 50px -50px darkslategray;
}

div.admin_container div.admin_myform{
  width: 270px;
  margin-right: 30px;
}

div.admin_container div.admin_myform h2{
  color: #1c1c1e;
  margin-bottom: 20px;
}

div.admin_container div.admin_myform input{
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  border-bottom: 2px solid #1c1c1e;
  margin-bottom: 25px;
  padding: 7px 0;
  font-size: 14px;
}
div.admin_container div.admin_myform button{
  color: white;
  background-color: #1c1c1e;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 18px;
  padding: 5px 12px;
  font-weight: 500;
  position: relative;
}


@media only screen and (max-width:720px){
    div.admin_container div.admin_myform {
      width: 100%;
      margin: 5px;
    }



    div.admin_container{
      display: flex;
      flex-direction: column;
    }

}