.bottom_main_container{
    width: 100%;
    height: auto;
    padding: 10px;
}

.bottom_nav_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.title {
    font-weight: 600;
    letter-spacing: -.025em;
}

.bottom_nav_link{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 5px;
}

.nav-active{
  border-bottom: 2px solid blueviolet;
  color: blueviolet;
}

.reviews h3 {
    font-size: 1.6rem;
    letter-spacing: -.01em;
    margin-bottom: 2.3rem;
}

.review {
    padding-bottom: 1.3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ebebeb;
}

.review h4 {
    color: #333;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    margin-bottom: 0.8rem;
}

.review h4 a {
    color: inherit;
}

.ratings, .ratings-val {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: .1em;
    line-height: 1;
    font-family: molla;
}

.ratings::before {
    content: "⭐""⭐""⭐""⭐" "⭐";
}
.ratings-val {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fcb941;
}
.ratings-val::before {
    content: "⭐""⭐""⭐""⭐" "⭐";
}

.ratings .tooltip-text {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 150%;
    font-size: 1.4rem;
    background-color: #333;
    color: #fff;
    padding: 0.7rem;
    text-indent: 0;
    overflow: visible;
    overflow: initial;
    letter-spacing: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
    visibility: hidden;
}

.ratings .tooltip-text:after {
    content: "";
    position: absolute;
    left: inherit;
    top: 96%;
    margin-left: -6px;
    border: 6px solid transparent;
    border-top-color: #333;
}

.review-content {
    margin-bottom: 0.8rem;
}

.review-action {
    font-size: 1.2rem;
}

.review-action a {
    color: #777;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.review-action a+a {
    margin-left: 1.6rem;
}

.reviews .review:last-child {
    border-bottom: none;
}

.reply {
    padding: 2rem 0 0;
}
.reply .title {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: -.025em;
    margin-bottom: 0.9rem;
}

/* p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #777;
} */

.rating-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.rating-form label {
    margin-right: 1rem;
}

.rating-stars {
    display: flex;
    position: relative;
    height: 14px;
    font-size: 1.4rem;
    margin: 0 0 1.1rem;
}

.rating-stars .star-1 {
    z-index: 10;
}
.rating-stars a {
    color: #999;
    text-indent: -9999px;
    letter-spacing: 1px;
    width: 16px;
    letter-spacing: .2em;
}

.rating-stars a:before {
    content: "";
    position: absolute;
    left: 0;
    height: 14px;
    line-height: 1;
    font-family: molla;
    text-indent: 0;
    overflow: hidden;
    white-space: nowrap;
}

.reply .form-control {
    background-color: #fff;
}
.form-control {
    height: 41px;
    padding: 0.85rem 2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    color: #777;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 2rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    outline-width: 0;
}

.mb-2 {
    margin-bottom: 2rem!important;
}

.reply .custom-checkbox {
    margin-top: 7px;
}

.review_content{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

.add_review_button{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
}